.userId {
  font-size: 0.5em;
  font-weight: bold;
  position: absolute;
  top: 2px;
  left: 15px;
  color: #222;
}

.game-businesses-list {
  color: #555;
  background: #adadad;
  font-size: 1.2em;
}
.game-businesses-container {
  overflow-y: scroll;
  padding: 10px;
}